/* #Fonts
================================================== */
@font-face {
  font-family: 'open-sans';
  font-weight: 400;
  src: url("../font/OpenSansHebrew-Regular.ttf");
}

@font-face {
  font-family: 'open-sans';
  font-weight: 700;
  src: url("../font/OpenSansHebrew-Bold.ttf");
}

/* #General
================================================== */
body {
  font-family: 'open-sans';
  padding-top: 7.55vw;
}

@media (max-width: 1023.98px) {
  body {
    padding-top: 25.33vw;
  }
}

.text-gold {
  color: #C6820A;
}

.text-blue {
  color: #019CDE;
}

/* #Buttons
================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.6vw;
  padding: 0 1.5vw 0 1.3vw;
  border-radius: 500px;
  position: relative;
  border: 1px solid transparent;
  transition: all .4s ease;
  font-size: 1vw;
}

.btn img {
  flex-shrink: 0;
  width: 1vw;
  margin-right: 2.6vw;
}

.btn.btn-small img {
  margin-right: 1.2vw;
}

.btn.btn-small {
  height: 2vw;
  padding: 0 1.3vw;
  font-size: .88vw;
}

.btn.btn-primary {
  background-image: linear-gradient(to left, #E2AB44, #FEE185);
}

.btn.btn-primary.bordered {
  box-shadow: 0 3px 12px rgba(0, 0, 0, .16);
}

.btn.btn-primary.bordered::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  height: 76%;
  border: 1px solid white;
  border-radius: 500px;
}

.btn.btn-primary.outline {
  background-image: none;
  background-color: white;
  color: #D0990F;
  border-color: #D0990F;
}

/* .btn.btn-primary.outline:hover {
  background-color: #D0990F;
  color: white;
} */

.btn.btn-secondary {
  background-color: #019CDE;
  color: white;
}

.btn.btn-secondary.outline {
  background-color: white;
  color: #019CDE;
  border: 1px solid #019CDE;
}

/* .btn.btn-secondary.outline:hover {
  background-color: #019CDE;
  color: white;
} */

.btn.btn-tertiary {
  background-color: white;
}

.btn.btn-tertiary.bordered {
  box-shadow: 0 3px 12px rgba(0, 0, 0, .16);
}

.btn.btn-tertiary.bordered::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  height: 76%;
  border: 1px solid #E9B954;
  border-radius: 500px;
}

@media (max-width: 1023.98px) {
  .btn {
    height: 10.66vw;
    padding: 0 4vw 0 3.33vw;
    font-size: 4vw;
  }
  
  .btn img {
    width: 4.53vw;
    margin-right: 12vw;
  }
  
  .btn.btn-small img {
    margin-right: 4vw;
  }
  
  .btn.btn-small {
    height: 8.8vw;
    padding: 0 3.33vw;
    font-size: 3.73vw;
  }
}

/* #Swiper Pagination
================================================== */
.swiper-pagination .swiper-pagination-bullet {
  width: .67vw;
  height: .67vw;
  border: 2px solid #E3E3E3;
  margin: 0 .33vw!important;
  background-color: white;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #D0990F;
  border: 2px solid #D0990F;
}

@media (max-width: 1023.98px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 3.6vw;
    height: 3.6vw;
    margin: 0 1.8vw!important;
  }
}

/* #Input Primary
================================================== */
.input-primary {
  display: inline-block;
  border: 1px solid #D2D2D2;
  height: 2.6vw;
  border-radius: 500px;
  padding: 0 1.3vw;
  color: black;
}

.input-primary::placeholder {
  color: black;
}

@media (max-width: 1023.98px) {
  .input-primary {
    height: 10.66vw;
    padding: 0 4.66vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}

.header .container {
  width: 92%;
}

/* Top */
.header .top {
  background-image: linear-gradient(to bottom left, #E2AB44, #FEE185);
  height: 2.6vw;
}

.header .top .container {
  height: 100%;
  position: relative;
}

.header .top .container,
.header .top a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .top a {
  margin-right: 1vw;
}

.header .top a img {
  width: .3vw;
  margin-right: .5vw;
}

.header .top a span {
  text-decoration: underline;
}

.header-logo-2 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-logo-2 img {
  width: 6vw;
}

/* Bottom */
.header .bottom {
  padding: 1vw 0;
}

.header .bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  width: 7vw;
}

.header-menu ul {
  display: flex;
  align-items: center;
}

.header-menu ul li:not(:last-child) {
  margin-left: 1.8vw;
}

.header-action ul {
  display: flex;
  align-items: center;
}

.header-action ul li:not(:last-child) {
  margin-left: 1.3vw;
}

.header-action ul img {
  height: 1.3vw;
}

@media (max-width: 1023.98px) {
  .header .container {
    width: 90%;
  }
  
  /* Top */
  .header .top {
    height: 9.33vw;
  }
  
  .header .top a {
    margin-right: 2.5vw;
  }
  
  .header .top a img {
    width: 1vw;
    margin-right: .9vw;
  }
  
  /* Bottom */
  .header .bottom {
    padding: 0;
    height: 16vw;
    position: relative;
  }
  
  .header .bottom .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-logo img {
    width: 24vw;
  }

  .header-logo-2 {
    position: static;
    transform: none;
  }

  .header-logo-2 img {
    width: 15vw;
  }

  .header-hamburger {
    margin-left: 4.53vw;
  }
  
  .header-hamburger img {
    width: 6.26vw;
  }

  .header-action {
    display: flex;
    align-items: center;
  }
  
  .header-action ul li:not(:last-child) {
    margin-left: 0
  }
  
  .header-action ul img {
    height: 5.33vw;
  }
}

/* #Home Banner
================================================== */
.home-banner {
  position: relative;
}

.home-banner .img img,
.home-banner .img picture {
  width: 100%;
}

.home-banner .swiper-slide {
  position: relative;
}

.home-banner .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13%;
  width: 28.6%;
}

.home-banner h2 {
  line-height: 1.3;
}

.home-banner .product-img {
  position: absolute;
  bottom: 0;
  left: 35.9%;
  width: 22.24vw;
}

.home-banner .product-img img {
  width: 100%;
}

.home-banner .swiper-navigation {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 5.46vw;
  z-index: 100;
}

.home-banner .swiper-controls {
  display: flex;
  align-items: center;
  margin-right: 1.5vw;
}

.home-banner .swiper-controls img {
  width: .67vw;
}

.home-banner .swiper-controls .pause {
  margin-left: 1.2vw;
}

.home-banner .swiper-slide a {
  margin: 2vw 0 1.5vw 0;
}

.home-banner h2 {
  margin-bottom: .75vw;
}

@media (min-width: 1024px) {
  .home-banner .swiper-pagination {
    position: static;
    width: auto;
  }
}

@media (max-width: 1023.98px) {
  .home-banner .swiper-slide {
    padding-bottom: 13.33vw;
  }

  .home-banner .text {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 19.33vw;
    text-align: center;
    width: 75%;
  }

  .home-banner .text br {
    display: none;
  }
  
  .home-banner h2 {
    margin-bottom: 3.33vw;
  }
  
  .home-banner .swiper-navigation {
    bottom: 4.93vw;
    left: 5.46vw;
    z-index: 100;
    width: calc(100vw - 5.46vw - 5.46vw);
    justify-content: flex-end;
  }
  
  .home-banner .swiper-controls {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
  
  .home-banner .swiper-controls img {
    width: 3.33vw;
  }
  
  .home-banner .swiper-controls .pause {
    margin-left: 2.93vw;
  }
  
  .home-banner .swiper-slide a {
    margin: 6vw 0;
  }

  .home-banner .swiper-pagination {
    bottom: 0;
    height: 4.6vw;
  }
}

/* #Product Slider
================================================== */
.product-slider {
  position: relative;
}

.product-slider .bg img,
.product-slider .bg picture {
  width: 100%;
}

.product-slider .bg-shape {
  position: absolute;
  right: 1.15vw;
  bottom: 3.125vw;
  width: 6.45vw; 
}

.product-slider .bg-shape img {
  width: 100%;
}

.product-slider .container {
  width: 73.9%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4.4vw;
}

.product-slider .heading {
  text-align: center;
  margin-bottom: 1.8vw;
}

.product-slider h2 {
  margin-bottom: .25vw;
}

.product-slider .tab-navigation {
  border-radius: 500px;
  background-color: white;
  width: 53.33vw;
  margin: 0 auto;
  margin-bottom: 2.6vw;
  text-align: center;
  height: 2.39vw;
  display: flex;
  align-items: center;
  padding: 0 .78vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.product-slider .tab-navigation .swiper {
  width: 100%;
}

.product-slider .tab-navigation .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-slider .tab-navigation .swiper-slide {
  width: auto!important;
}

.product-slider .tab-btn a {
  height: 1.5vw;
  border-radius: 500px;
  padding: 0 .78vw;
  display: inline-block;
}

.product-slider .tab-btn.active a {
  background-image: linear-gradient(#E2AB44, #FEE185);
}

.product-slider .tab-content {
  margin: -9px;
}

.product-slider .tab-content .swiper {
  margin: 0 -1.17vw;
  padding: 9px;
}

.product-slider .tab-content .swiper-slide {
  padding: 0 1.17vw;
}

@media (max-width: 1023.98px) {
  .product-slider {
    min-height: 178vw;
    overflow: hidden;
  }
  .product-slider .container {
    width: 100%;
    top: 9vw;
  }
  
  .product-slider .heading {
    margin-bottom: 9vw;
  }
  
  .product-slider h2 {
    margin-bottom: 1vw;
  }

  .product-slider .heading p {
    max-width: 60vw;
    margin: 0 auto;
  }
  
  .product-slider .tab-navigation {
    border-radius: 500px;
    background-color: transparent;
    width: 100%;
    margin-bottom: 10vw;
    height: 7.46vw;
    padding: 0;
    box-shadow: none;
  }

  .product-slider .tab-navigation .swiper {
    padding: 0 5.33vw;
  }
  
  .product-slider .tab-navigation .swiper-slide:not(:last-child) {
    margin-left: 2.66vw;
  }
  
  .product-slider .tab-btn a {
    height: 7.46vw;
    padding: 0 2.66vw;
    align-items: center;
    display: flex;
    border: 1px solid #D19910;
    background-color: white;
  }
  
  .product-slider .tab-btn.active a {
    background-image: linear-gradient(#E2AB44, #FEE185);
    border: 1px solid transparent;
  }
  
  .product-slider .tab-content .swiper {
    margin: 0;
    padding-right: 2.66vw;
  }
  
  .product-slider .tab-content .swiper-slide {
    padding: 0 2.66vw;
  }
}

/* #Product Card
================================================== */
.product-card {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
  border-radius: 1vw;
  position: relative;
  padding: 3.5vw 1.3vw 1.3vw 1.3vw;
}

.product-card-label {
  position: absolute;
  top: 0;
  right: 0;
  width: 7.7vw;
  height: 2.39vw;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #019CDE;
  color: white;
  border-bottom-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.product-card-img img {
  margin: 0 auto;
  width: 10.93vw;
  height: 10.93vw;
  object-fit: contain;
  object-position: center;
}

.product-card-text {
  text-align: center;
  margin: 1vw 0 1.5vw 0;
}

.product-card h3 {
  margin-bottom: .5vw;
}

.product-card-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card-btns .btn {
  flex: 0 0 47%;
  padding: 0;
}

.product-card-btns .btn:last-child {
  flex: 0 0 100%;
  width: 100%;
  margin-top: .78vw;
}

.product-card-btns .btn img {
  width: 1.3vw;
  margin-right: .5vw;
}

@media (max-width: 1023.98px) {
  .product-card {
    border-radius: 2.66vw;
    padding: 14.33vw 4.66vw 6.66vw 4.66vw;
  }
  
  .product-card-label {
    width: 31.73vw;
    height: 10vw;
    border-bottom-left-radius: 2.66vw;
    border-top-right-radius: 2.66vw;
  }
  
  .product-card-img img {
    width: 45.2vw;
    height: 43.2vw;
  }
  
  .product-card-text {
    margin: 4.66vw 0 13vw 0;
  }
  
  .product-card h3 {
    margin-bottom: 1vw;
  }
  
  .product-card-btns .btn:last-child {
    margin-top: 3.33vw;
  }
  
  .product-card-btns .btn img {
    width: 5.33vw;
    margin-right: 2vw;
  }
}

/* #Join Club
================================================== */
.join-club {
  position: relative;
  margin: 3.65vw 0 5.2vw 0;
}

.join-club .container {
  width: 74.89%;
  position: relative;
}

.join-club .bg img,
.join-club .bg picture {
  width: 100%;
}

.join-club .bg-shape {
  position: absolute;
  bottom: 2.6vw;
  left: 0;
  width: 8.85vw;
}

.join-club .bg-shape img {
  width: 100%;
}

.join-club .img-1 {
  position: absolute;
  width: 19.5vw;
  right: 1.5vw;
  top: 1vw;
}

.join-club .img-1 img {
  width: 100%;
}

.join-club .img-2 {
  position: absolute;
  width: 19.32vw;
  left: -1vw;
  bottom: 5.65vw;
}

.join-club .img-2 img {
  width: 100%;
}

.join-club .text {
  position: absolute;
  bottom: 2.6vw;
  left: 50%;
  transform: translateX(-50%);
  width: 44.8vw;
}

/* Text Top */
.join-club .text .top {
  margin-bottom: 5.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.join-club .text .top .heading {
  margin-bottom: 1.45vw;
}

.join-club .text .top .heading img {
  width: 22.7vw;
}

.join-club .text .top > h3 {
  margin-bottom: 1vw;
}

.join-club .text .top .input-primary {
  width: 14vw;
  margin-left: 1.3vw;
}

/* Text Bottom */
.join-club .text .bottom h3 {
  margin-bottom: 1.5vw;
  text-align: center;
}

.join-club .text .bottom ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.join-club .text .bottom li {
  flex: 0 0 6.77vw;
  text-align: center;
}

.join-club .text .bottom span {
  display: block;
}

.join-club .text .bottom ul img {
  margin: 0 auto;
  margin-bottom: .35vw;
  width: 5.4vw;
}

@media (max-width: 1023.98px) {
  .join-club {
    margin: 10vw 0 17.33vw 0;
    overflow: hidden;
  }
  
  .join-club .container {
    width: 92%;
  }
  
  .join-club .img-1 {
    width: 37.73vw;
    right: 0;
    top: 105vw;
  }
  
  .join-club .img-2 {
    width: 34.66vw;
    left: -2vw;
    bottom: auto;
    top: 108vw;
  }
  
  .join-club .text {
    position: absolute;
    bottom: 8.66vw;
    left: 50%;
    transform: translateX(-50%);
    width: 77.86vw;
  }
  
  /* Text Top */
  .join-club .text .top {
    margin-bottom: 32vw;
  }
  
  .join-club .text .top .heading {
    margin-bottom: 5.33vw;
  }
  
  .join-club .text .top .heading img {
    width: 59vw;
  }
  
  .join-club .text .top > h3 {
    margin: 0 auto;
    margin-bottom: 5.33vw;
    width: 55vw;
    text-align: center;
  }

  .join-club .text .top form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .join-club .text .top .input-primary {
    width: 100%;
    margin-left: 0;
    margin-bottom: 4vw;
  }

  .join-club .text .top .btn {
    justify-content: space-between;
    padding: 0 4.66vw;
  }
  
  /* Text Bottom */
  .join-club .text .bottom h3 {
    margin: 0 auto;
    width: 48vw;
    margin-bottom: 4.66vw;
  }
  
  .join-club .text .bottom ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .join-club .text .bottom li {
    flex: 0 0 50%;
  }

  .join-club .text .bottom li:nth-child(1),
  .join-club .text .bottom li:nth-child(2) {
    margin-bottom: 4vw;
  }
  
  .join-club .text .bottom ul img {
    margin-bottom: 0;
    width: 13.66vw;
  }
}

/* #Footer
================================================== */
/* Join */
.footer-join {
  position: relative;
  overflow: hidden;
}

.footer-join .img img,
.footer-join .img picture {
  width: 100%;
}

.footer-join .footer-logo img {
  width: 10.25vw;
}

.footer-join .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16.25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

@media (max-width: 1023.98px) {
  .footer-join .footer-logo img {
    width: 44.93vw;
  }
  
  .footer-join .text {
    top: 50%;
    transform: translate(-50%, -50%);
    right: auto;
    left: 50%;
    flex-direction: column;
    justify-content: center;
  }

  .footer-join h2 {
    margin: 2.66vw 0 6vw 0;
  }
}

/* Top */
.footer-top {
  padding: 3.65vw 0 1.5vw 0;
  overflow: hidden;
}

.footer-top .container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.footer-top .footer-links {
  margin-bottom: 1.8vw;
}

.footer-top .footer-links li {
  margin: .6vw 0;
}

.footer-top .footer-logo {
  margin-right: auto;
}

.footer-top .footer-logo img {
  width: 10vw;
}

.footer-top .footer-text {
  line-height: 1.75;
}

@media (min-width: 1023.98px) {
  .footer-top .accordion {
    display: flex;
  }

  .footer-top .collapsible:not(:last-child) {
    margin-left: 4.4vw;
  }

  .footer-top .collapse {
    height: auto!important;
  }
}

@media (max-width: 1023.98px) {
  .footer-top {
    padding: 10vw 0 4vw 0;
  }
  
  .footer-top .container {
    width: 92%;
    display: block;
  }
  
  .footer-top .footer-links {
    margin-bottom: 10vw;
  }
  
  .footer-top .footer-links li {
    margin: 0 0 4vw 0;
  }

  .footer-top .collapsible:not(:last-child) {
    border-bottom: 1px solid #D8D8D8;
  }

  .footer-top .collapse-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 0;
  }

  .footer-top .collapse-toggler img {
    width: 4vw;
    transition: all .4s ease;
  }

  .footer-top .show .collapse-toggler img {
    transform: rotate(180deg);
  }
}

/* Bottom */
.footer-bottom {
  background-color: #F3F3F3;
  height: 4vw;
  overflow: hidden;
}

.footer-bottom .container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer-bottom .footer-links ul {
  display: flex;
}

.footer-bottom .footer-links ul li:not(:last-child) {
  margin-left: 3.65vw;
}

.footer-bottom .footer-logo-2 img {
  width: 5.88vw;
}

/* Copy */
.footer-copy {
  text-align: center;
  padding: 2.2vw 0 2.86vw 0;
}

@media (max-width: 1023.98px) {
  /* Bottom */
  .footer-bottom {
    height: 29.33vw;
  }

  .footer-bottom .container {
    width: 89%;
  }

  .footer-bottom .footer-logo img {
    width: 31.46vw;
  }

  .footer-bottom .footer-logo-2 img {
    width: 22.66vw;
  }

  /* Copy */
  .footer-copy {
    padding: 3.46vw 0;
  }
}

/* #Kit Banner
================================================== */
.kit-banner .img img,
.kit-banner .img picture {
  width: 100%;
}

.kit-banner .container {
  width: 76.35%;
  position: relative;
}

.kit-banner .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24.79vw;
  text-align: center;
  right: 8.3vw;
}

.kit-banner .text h3 {
  margin: .78vw 0 2.34vw 0;
}

@media (max-width: 1023.98px) {
  .kit-banner .container {
    width: 97.86%;
    overflow: hidden;
  }

  .kit-banner .text {
    top: 12vw;
    width: 72vw;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .kit-banner .text h3 {
    margin: 1.33vw 0 5.33vw 0;
  }
}

/* #Blog Post Slider
================================================== */
.blog-post-slider {
  padding: 4.16vw 0 5.72vw 0;
}

.blog-post-slider h2 {
  margin-bottom: 1.8vw;
  text-align: center;
}

.blog-post-slider .tab-navigation {
  border-radius: 500px;
  background-color: white;
  width: 53.33vw;
  margin: 0 auto;
  margin-bottom: 2.6vw;
  text-align: center;
  height: 2.39vw;
  display: flex;
  align-items: center;
  padding: 0 .78vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.blog-post-slider .tab-navigation .swiper {
  width: 100%;
}

.blog-post-slider .tab-navigation .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-post-slider .tab-navigation .swiper-slide {
  width: auto!important;
}

.blog-post-slider .tab-btn a {
  height: 1.5vw;
  border-radius: 500px;
  padding: 0 .78vw;
  display: inline-block;
}

.blog-post-slider .tab-btn.active a {
  background-image: linear-gradient(#E2AB44, #FEE185);
}

.blog-post-slider .tab-content .swiper {
  padding-bottom: 2vw;
}

.blog-post-slider .tab-content .swiper-wrapper {
  min-height: 26.56vw;
  align-items: center;
}

.blog-post-slider .tab-content .swiper-slide {
  padding: 0 1.4vw;
  position: relative;
}

.blog-post-slider .tab-content .img {
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  border-radius: .5vw;
}

.blog-post-slider .tab-content .img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, white, transparent);
  border-radius: .5vw;
}

.blog-post-slider .tab-content .img img {
  width: 100%;
  height: 22.65vw;
  object-fit: cover;
  object-position: center;
  border-radius: .5vw;
  transition: height .4s ease;
}

.blog-post-slider .tab-content  .swiper-slide.swiper-slide-active .img img {
  height: 26.56vw;
}

.blog-post-slider .tab-content .text {
  text-align: center;
  position: absolute;
  bottom: 1.8vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.blog-post-slider .tab-content .btn {
  overflow: hidden;
}

.blog-post-slider .swiper-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-post-slider .swiper-arrows .prev {
  margin-left: .78vw; 
}

.blog-post-slider .swiper-arrows img {
  width: 2.44vw;
}

@media (min-width: 1024px) {
  .blog-post-slider .tab-content .swiper-slide .btn {
    height: 0;
    margin: 0;
    opacity: 0;
  }
  
  .blog-post-slider .tab-content  .swiper-slide.swiper-slide-active .btn {
    margin-top: 1.5vw;
    height: 2.6vw;
    opacity: 1;
  }
}

@media (max-width: 1023.98px) {
  .blog-post-slider {
    padding: 17.33vw 0 15.33vw 0;
    overflow: hidden;
  }
  
  .blog-post-slider h2 {
    margin-bottom: 7vw;
  }
  
  .blog-post-slider .tab-navigation {
    border-radius: 500px;
    background-color: transparent;
    width: 100%;
    margin-bottom: 10vw;
    height: 7.46vw;
    padding: 0;
    box-shadow: none;
  }

  .blog-post-slider .tab-navigation .swiper {
    padding: 0 5.33vw;
  }
  
  .blog-post-slider .tab-navigation .swiper-slide:not(:last-child) {
    margin-left: 2.66vw;
  }
  
  .blog-post-slider .tab-btn a {
    height: 7.46vw;
    padding: 0 2.66vw;
    align-items: center;
    display: flex;
    border: 1px solid #D19910;
    background-color: white;
  }
  
  .blog-post-slider .tab-btn.active a {
    background-image: linear-gradient(#E2AB44, #FEE185);
    border: 1px solid transparent;
  }
  
  .blog-post-slider .tab-content .swiper {
    padding-bottom: 5.33vw;
    padding-right: 2.66vw;
  }
  
  .blog-post-slider .tab-content .swiper-wrapper {
    min-height: 0;
  }
  
  .blog-post-slider .tab-content .swiper-slide {
    padding: 0 2.66vw;
    position: relative;
  }
  
  .blog-post-slider .tab-content .img {
    border-radius: 1.33vw;
  }
  
  .blog-post-slider .tab-content .img::after {
    border-radius: 1.33vw;
  }
  
  .blog-post-slider .tab-content .img img {
    height: 100vw;
    border-radius: 1.33vw;
  }
  
  .blog-post-slider .tab-content  .swiper-slide.swiper-slide-active .img img {
    height: 100vw;
  }
  
  .blog-post-slider .tab-content .text {
    bottom: 6.66vw;
    width: 90%;
  }

  .blog-post-slider .tab-content .btn {
    margin-top: 6vw;
  }
  
  .blog-post-slider .swiper-arrows .prev {
    margin-left: 4vw; 
  }
  
  .blog-post-slider .swiper-arrows img {
    width: 10vw;
  }
}

/* #Home Presents
================================================== */
.home-presents .container {
  width: 74%;
}

.home-presents h2 {
  text-align: center;
  margin-bottom: 2vw;
}

.home-presents .bg img,
.home-presents .bg picture {
  width: 100%;
}

/* Top */
.home-presents .top {
  margin-bottom: 2.34vw;
}

.home-presents .top ul {
  display: flex;
  align-items: center;
  margin: 0 -1.17vw;
}

.home-presents .top li {
  flex: 0 0 33.33%;
  padding: 0 1.17vw;
}

.home-presents .top li > div {
  position: relative;
}

.home-presents .top .img {
  position: relative;
  box-shadow: 0 3px 10px rgb(0,0,0, .1);
  border-radius: .5vw;
}

.home-presents .top .img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(to top, white, transparent);
  border-radius: 0.5vw;
}

.home-presents .top .img img {
  width: 100%;
  height: 21.2vw;
  object-fit: cover;
  object-position: center;
  border-radius: .5vw;
}

.home-presents .top .text {
  position: absolute;
  bottom: 1.3vw;
  left: 50%;
  transform: translateX(-50%);
  width: 82%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.home-presents .top h3 {
  margin-bottom: .25vw;
}

.home-presents .top a img {
  width: 2vw;
}

/* Bottom */
.home-presents .bottom .swiper {
  margin: 0 -1.17vw;
  padding-bottom: 2.6vw;
}

.home-presents .bottom .swiper-slide {
  padding: 0 1.17vw;
}

.home-presents .bottom .swiper-slide > div {
  position: relative;
}

.home-presents .bottom .img {
  position: relative;
  box-shadow: 0 3px 10px rgb(0,0,0, .1);
  border-radius: .5vw;
}

.home-presents .bottom .img::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  height: 91%;
  border: 1px dashed #D0990F;
  border-radius: 1vw;
}

.home-presents .bottom .img img {
  width: 100%;
  height: 14.58vw;
  border-radius: .5vw;
  object-fit: cover;
  object-position: center;
}

.home-presents .bottom .text {
  position: absolute;
  bottom: 3.125vw;
  right: 1.5vw;
  min-height: 7.55vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.home-presents .bottom .btn {
  margin-top: auto;
}

.home-presents .bottom h3 {
  margin-bottom: .25vw;
  line-height: 1.3;
}

@media (min-width: 1024px) {
  .home-presents .bottom .swiper-slide {
    flex: 0 0 33.33%;
  }
}

@media (max-width: 1023.98px) {
  .home-presents .container {
    width: 100%;
    overflow: hidden;
  }
  
  .home-presents h2 {
    text-align: center;
    margin-bottom: 6.66vw;
  }
  
  /* Top */
  .home-presents .top {
    margin-bottom: 8vw;
  }
  
  .home-presents .top ul {
    display: block;
    margin: 0;
  }
  
  .home-presents .top li {
    padding: 0 5.33vw;
  }

  .home-presents .top li:not(:last-child) {
    margin-bottom: 4vw;
  }
  
  .home-presents .top .img {
    border-radius: 1.33vw;
  }
  
  .home-presents .top .img::after {
    border-radius: 1.33vw;
  }
  
  .home-presents .top .img img {
    height: 82.13vw;
    border-radius: 1.33vw;
  }
  
  .home-presents .top .text {
    bottom: 5.33vw;
    width: 88%;
  }
  
  .home-presents .top h3 {
    margin-bottom: .25vw;
  }

  .home-presents .top a img {
    width: 9.33vw;
  }
  
  /* Bottom */
  .home-presents .bottom .swiper {
    margin: 0;
    padding-bottom: 13.33vw;
    padding-right: 2.66vw;
  }
  
  .home-presents .bottom .swiper-slide {
    padding: 0 2.66vw;
  }
  
  .home-presents .bottom .img {
    border-radius: 1.33vw;
  }
  
  .home-presents .bottom .img::after {
    width: 94%;
    height: 91%;
    border-radius: 1.33vw;
  }
  
  .home-presents .bottom .img img {
    height: 50vw;
    border-radius: 1.33vw;
  }
  
  .home-presents .bottom .text {
    bottom: 7.73vw;
    right: 7vw;
    min-height: 33.33vw;
  }
  
  .home-presents .bottom h3 {
    margin-bottom: .25vw;
    line-height: 1.3;
  }
}

/* #Journey Slider
================================================== */
.journey-slider {
  padding: 1.3vw 0 4.16vw 0;
  position: relative;
}

.journey-slider .container {
  width: 74%;
}

.journey-slider h2 {
  text-align: center;
  margin-bottom: 2vw;
}

.journey-slider .tabs {
  margin-bottom: 2vw;
}

/* Tabs Primary */
.journey-slider .tabs-primary > .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.journey-slider .tabs-primary > .tab-navigation .tab-btn {
  width: 5.7vw;
  height: 4.94vw;
  border: 1px solid transparent;
  box-shadow: 0 3px 24px rgba(0, 0, 0, .1);
  border-radius: .78vw;
  color: #C5C5C5;
}

.journey-slider .tabs-primary > .tab-navigation .tab-btn.active {
  border: 1px solid #D0990F;
  color: #D0990F;
}

.journey-slider .tabs-primary > .tab-navigation .tab-btn:not(:last-child) {
  margin-left: 1vw;
}

.journey-slider .tabs-primary > .tab-navigation .tab-btn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.journey-slider .tabs-primary > .tab-navigation img {
  height: 2.34vw;
  margin-bottom: .1vw;
  filter: grayscale(1);
  transition: all .3s ease;
  opacity: .5;
}

.journey-slider .tabs-primary > .tab-navigation .tab-btn.active img {
  filter: grayscale(0);
  opacity: 1;
}

/* Tabs Secondary */
.journey-slider .tabs-secondary .tab-navigation {
  margin: 2vw 0 2.34vw 0;
}

.journey-slider .tabs-secondary .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.journey-slider .tabs-secondary .tab-navigation li:not(:last-child) {
  margin-left: .78vw;
}

.journey-slider .tabs-secondary .tab-btn a {
  height: 1.5vw;
  border-radius: 500px;
  padding: 0 .78vw;
  display: inline-block;
}

.journey-slider .tabs-secondary .tab-btn.active a {
  background-image: linear-gradient(#E2AB44, #FEE185);
}

.journey-slider .tabs-secondary .swiper {
  margin: 0 -1.17vw;
  padding-bottom: 19px;
}

.journey-slider .tabs-secondary .swiper-slide {
  padding: 0 1.17vw;
}

/* Bg */
.journey-slider .bg {
  position: absolute;
  top: 21.51vw;
  left: 0;
  width: 100%;
  z-index: -1;
}

.journey-slider .bg img,
.journey-slider .bg picture {
  width: 100%;
}

/* Bg Shape */
.journey-slider .bg-shape-1 {
  position: absolute;
  top: 12.6vw;
  right: 0;
  width: 7.8vw;
}

.journey-slider .bg-shape-1 img {
  width: 100%;
}

/* Bg Shape */
.journey-slider .bg-shape-2 {
  position: absolute;
  top: 31.25vw;
  left: 1vw;
  width: 7.34vw;
}

.journey-slider .bg-shape-2 img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .journey-slider {
    padding: 8vw 0 18vw 0;
    overflow: hidden;
  }
  
  .journey-slider .container {
    width: 100%;
  }
  
  .journey-slider h2 {
    margin: 0 auto;
    margin-bottom: 4.66vw;
    width: 75%;
    line-height: 1.2;
  }
  
  .journey-slider .tabs {
    margin-bottom: 4vw;
  }

  .journey-slider .swiper-pagination {
    bottom: 0;
  }
  
  /* Tabs Primary */
  .journey-slider .tabs-primary > .tab-navigation .tab-btn {
    width: 20vw;
    height: 18.66vw;
    border-radius: 2vw;
  }
  
  .journey-slider .tabs-primary > .tab-navigation .tab-btn:not(:last-child) {
    margin-left: 2.66vw;
  }
  
  .journey-slider .tabs-primary > .tab-navigation img {
    height: 8vw;
    margin-bottom: 1vw;
  }
  
  /* Tabs Secondary */
  .journey-slider .tabs-secondary .tab-navigation {
    margin: 8vw 0;
  }
  
  .journey-slider .tabs-secondary .tab-btn a {
    height: 7.46vw;
    padding: 0 2.66vw;
    align-items: center;
    display: flex;
    border: 1px solid #D19910;
    background-color: white;
  }
  
  .journey-slider .tabs-secondary .tab-btn.active a {
    background-image: linear-gradient(#E2AB44, #FEE185);
    border: 1px solid transparent;
  }
  
  .journey-slider .tabs-secondary .tab-navigation li:not(:last-child) {
    margin-left: 2.66vw;
  }
  
  .journey-slider .tabs-secondary .swiper {
    margin: 0;
    padding-right: 2.66vw;
    padding-bottom: 12.33vw;
  }
  
  .journey-slider .tabs-secondary .swiper-slide {
    padding: 0 2.66vw;
  }
}

/* #Blog Post Card
================================================== */
.blog-post-card {
  border-radius: .5vw;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}

.blog-post-card .img img {
  width: 100%;
  height: 10.93vw;
  object-fit: cover;
  object-position: center;
}

.blog-post-card .text {
  background-color: white;
  padding: .78vw 1.3vw 1.5vw 1.3vw;
}

.blog-post-card .text a img {
  display: inline;
  width: .3vw;
  vertical-align: baseline;
}

.blog-post-card .text p {
  display: flex;
  align-items: center;
  margin: .5vw 0;
}

.blog-post-card .text p img {
  width: .83vw;
  margin-left: .3vw;
}

@media (max-width: 1023.98px) {
  .blog-post-card {
    border-radius: 1.33vw;
  }
  
  .blog-post-card .img img {
    height: 45vw;
  }
  
  .blog-post-card .text {
    padding: 3.2vw 4vw 4.66vw 4vw;
  }
  
  .blog-post-card .text a img {
    width: 1.33vw;
  }
  
  .blog-post-card .text p {
    margin: 2.66vw 0;
  }
  
  .blog-post-card .text p img {
    width: 3.46vw;
    margin-left: .78vw;
  }
}